@import url(//db.onlinewebfonts.com/c/7bb508fd7255ec38b6f29cb4cf8668cf?family=DINNextW1G-Regular);
@font-face {
    font-family: Bold;
    src: url("https://playvalorant.com/static/Tungsten-Bold_Web-b8e358744e51930f6b5d497dd1ce8bb7.woff2");
}
@font-face {
    font-family: Vangok;
    src: url('./bankgothic.otf');
}

body{
    background-color: black;
}
*{
	margin: 0 ;
	padding: 0;
	box-sizing: border-box;
}


/*GIF*/
.fullscreen-gif img {
    margin-top: 4.225%;
    position: absolute; /* posición absoluta en la ventana */
    top: 0;
    left: 0;
    width: 100%; /* ancho del 100% de la ventana */
    height: 80%; /* altura del 100% de la ventana */
    object-fit: cover; /* ajustar la imagen para llenar todo el espacio */
    z-index: -1; /* enviar la imagen al fondo */
}

header{
    color: white;
}

.contenedor_principal{
    width: 100%;
    margin: 20px auto;
}
#cabecera{
    grid-area: cabecera;
    padding: 20px;
    text-align: center;
}
header p{
    margin-top: 12%;
    font-size: 40px;
}
header  h1{
    text-transform: uppercase;
    font-size: 130px;
    justify-content: center;
    margin-top: 2%;
    font-family: 'DINNextW1G-Regular';
}
/*MENU*/
#menu{
    background-color: black;
    font-size: 30px;
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: center;
    top: 0;
    z-index: 9999;
}

#menu a{
    color: white;
}
nav li{
	list-style: none;
}

nav li a{
	padding: 10px 15px;
	display: block;
    text-decoration: none;
}

nav li:hover>ul{
	display: block;
}

li>ul{
	display: none;
}

ul>li{
	float: left;
}

ul li:hover{
	display: block;
    text-decoration: underline;
}
#menu a{
    color: white;
    font-family: Bold;
}
/*Logo*/
#logo{
    width: 75px;
    fill: #f9f9f9;
    transition: 0.3;
    margin-top: 20%;
}
#logo:hover{
    transform: scale(1.1);
    transition: 0.3;
}

/*LETRA*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
/*Pagina index*/

#gecko{
    max-width: 50%;
    width: 300%;
    transform: translateY(340px);
}
.div1{
    display: flex;
}
#p1{
    color: white;
    font-size: 170%;
    padding: 6%;
    font-family: 'Cairo',sans-serif;
    transform: translateY(340px);
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
}
.contenedor > div{
    width: 100%;
    display: flex;
    align-items: center;
}
.contenedor > div:nth-child(odd){
    flex-direction: row-reverse;
}
#p3{
    color: white;
    font-size: 140%;
    padding: 6%;
    font-family: 'Cairo',sans-serif;
    transform: translateY(325px);
}

#vandal{
    width: 220%;
    height: 90%;
    transform: translateY(310px);
}
.div2{
    display: flex;
    flex-direction: column;
}

/*Pagina Mapa*/
.container{
    display: flex;
    flex-wrap: wrap;
}
.container > div{
    width: 100%;
    display: flex;
    align-items: center;
}
.container > div:nth-child(odd){
    flex-direction: row-reverse;
}
/*Mapas*/
#mapa{
    padding: 1%;
    text-align: center;
}
#lotus{
    float: left;
    padding: 3%;
    width: 70%;
}
/*Foto */
#foto{
    max-width: 50%;
}
#p{
    color: white;
    font-size: 140%;
    padding: 2%;
    font-family: 'Cairo',sans-serif;
}
#p2{
    color: white;
    font-size: 800%;
    text-align: center;
    font-family: Vangok;
}
.l{
    display: flex;
    flex-direction: column;
}

