@import url(//db.onlinewebfonts.com/c/7bb508fd7255ec38b6f29cb4cf8668cf?family=DINNextW1G-Regular);
@font-face {
    font-family: Bold;
    src: url("https://playvalorant.com/static/Tungsten-Bold_Web-b8e358744e51930f6b5d497dd1ce8bb7.woff2");
}
@font-face {
    font-family: Vangok;
    src: url('./bankgothic.otf');
}
@font-face {
    font-family: L;
    src: url('./L.ttf');
}
@font-face {
    font-family: LL;
    src: url('./LL.ttf');
}
@font-face {
    font-family: LLL;
    src: url('./LLL.ttf');
}

body{
    background-color: rgb(0, 0, 0);
}
*{
	margin: 0 ;
	padding: 0;
	box-sizing: border-box;
}


/*GIF*/
.fullscreen-gif img {
    margin-top: 4.225%;
    position: absolute; /* posición absoluta en la ventana */
    top: 0;
    left: 0;
    width: 100%; /* ancho del 100% de la ventana */
    height: 140%; /* altura del 100% de la ventana */
    object-fit: cover; /* ajustar la imagen para llenar todo el espacio */
    z-index: -1; /* enviar la imagen al fondo */
}

header{
    color: white;
}

.contenedor_principal{
    width: 100%;
    margin: 20px auto;
}
#contenedor_vct{
    width: 100%;
    margin: 20px auto;
    background-color: #ff4655;
    background-image: url("https://playvalorant.com/assets/images/background-sprite.png");
    width: 100%;
    background-repeat: no-repeat;
}
.c{
    background-color: #ff4655;
    background-image: url("https://playvalorant.com/assets/images/background-sprite.png");
    width: 100%;
}
#cabecera{
    grid-area: cabecera;
    padding: 20px;
    text-align: center;
}
header p{
    margin-top: 12%;
    font-size: 40px;
    font-family: 'LLL';
}
header  h1{
    text-transform: uppercase;
    font-size: 170px;
    justify-content: center;
    font-family: 'L';
}
#hh{
    text-transform: uppercase;
    font-size: 170px;
    justify-content: center;
    margin-top: 2%;
    font-family: 'L';
    transform: translateY(55px);
}
/*MENU*/
#menu{
    background-color: rgb(0, 0, 0);
    font-size: 30px;
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: center;
    top: 0;
    z-index: 9999;
}

#menu a{
    color: white;
}
nav li{
	list-style: none;
}

nav li a{
	padding: 10px 15px;
	display: block;
    text-decoration: none;
}

nav li:hover>ul{
	display: block;
}

li>ul{
	display: none;
}

ul>li{
	float: left;
}

ul li:hover{
	display: block;
    text-decoration: underline;
}
#menu a{
    color: white;
    font-family: Bold;
}
/*Logo*/
#logo{
    width: 75px;
    fill: #f9f9f9;
    transition: 0.3;
    margin-top: 20%;
}
#logo:hover{
    transform: scale(1.1);
    transition: 0.3;
}

/*LETRA*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
  @font-face {
    font-family: 'PP Migra-Regular';
    src: url('ppmigra-variable.ttf') format('truetype'); 
    font-variation-settings: 'wght' 240;
    font-display: swap;
  }


/*Footer*/

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #000;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.6);
    padding: 20px 0;
  }
  
  .footer p {
    margin: 0;
    text-align: center;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
  }
  
  
  


/*Pagina index*/

#gecko{
    max-width: 50%;
    width: 300%;
    margin-right: 3%;
}
.div1{
    display: flex;
}
#p1{
    color: white;
    font-size: 170%;
    padding: 6%;
    font-family: 'LLL';

}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    background-color: #ff4655;
    background-repeat: no-repeat;
    background-image: url("https://playvalorant.com/assets/images/background-sprite.png");
}
.contenedor > div{
    width: 100%;
    display: flex;
    align-items: center;
}
.contenedor > div:nth-child(odd){
    flex-direction: row-reverse;
}
#p3{
    color: white;
    font-size: 140%;
    padding: 6%;
    font-family: 'LLL';
}

#vandal{
    width: 250%;
    margin-left: 3%;
}
.div2{
    display: flex;
    flex-direction: column;
}

/*Pagina Mapa*/
.container{
    display: flex;
    flex-wrap: wrap;
}
.container > div{
    width: 100%;
    display: flex;
    align-items: center;
}
.container > div:nth-child(odd){
    flex-direction: row-reverse;
}
/*Mapas*/
#mapa{
    padding: 1%;
    text-align: center;
}
#lotus{
    float: left;
    padding: 3%;
    width: 70%;
}
/*Foto */
#foto{
    max-width: 50%;
    padding: 1%;
}
#p{
    color: white;
    font-size: 140%;
    padding: 2%;
    font-family: 'Cairo',sans-serif;
}
#p2{
    color: white;
    font-size: 800%;
    text-align: center;
    font-family: Vangok;
}
.l{
    display: flex;
    flex-direction: column;
}

/*Pagina VCT*/
.vctG{
    transform: translateY(55px);
    text-align: center;
}
.region {
    margin-top: 50px;
    text-align: center;
}

.region h2{
    color:white;
    font-family: 40px;
}

.team h3{
    color:white;
    font-family: 40px;
}

.player-container ul{
    color: white;;
}

.team {
    display: inline-block;
    margin: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    width: 300px;
    height: 200px;
    box-shadow: 2px 2px 5px #ccc;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
}

.team:hover {
    transform: scale(1.1);
    box-shadow: 4px 4px 10px #ccc;
}

.team img {
    display: block;
    margin: auto;
    width: 80%;
    height: 80%;
    z-index: 1;
}

.team h3 {
    margin-top: 10px;
    font-size: 25px;
}

.team p {
    font-size: 0.9em;
    margin-top: 5px;
    display: none;
}

.team:hover p {
    display: block;
}

.player-container {
    display: none;
    position: absolute;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100%;
    background-color: #f1f1f1;
    padding: 10px;
    overflow-y: scroll;
    box-shadow: 2px 2px 5px #ccc;
    z-index: 2;
}

.player-container h4 {
    margin-top: 0;
    font-size: 1.2em;
}

.player-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.player-container li {
    margin-bottom: 5px;
    font-size: 0.9em;
    line-height: 1.5;
}
#vctg h1{
    transform: translate(400px,-200px);
}
.imagen {
    position: relative;
  }
  
  .imagen:hover img {
    opacity: 0.5; /* cambia la opacidad de la imagen */
  }
  
  .imagen .texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; /* oculta el texto por defecto */
    transition: opacity 0.5s;
     /* añade una transición suave */
  }
  
  .imagen:hover .texto {
    opacity: 1;
    color: white; /* muestra el texto al pasar el ratón por encima */
    z-index: 1; /* coloca el texto por encima de la imagen */
  }
  .imagen img{
    width: 50%;
    transform: translateY(550px);
  }
  .emea img{
    width: 25%;
  }
  .emea{
    font-size: 45px;
  }
  .KOI{
    display: flex;
  }
  .roster{
    color: white;
    transform: translate(0px,650px);
  }
/*Agentes*/
    .containerAgent {
    display: flex;
    flex-direction: row;
    margin: 20px;
    position: relative;
    transform: translateY(55px);
    }
    .containerAgent2 {
        display: flex;
        flex-direction: row-reverse;
        margin: 20px;
    }
  
  .imagenAgent {
    flex-basis: 30%;
    transition: 0.3s;
  }
  .imgAgent2{
    flex-basis: 30%;
    transition: 0.3s;
  }
  .textAgent2{

    flex-basis: 50%;
    padding: 0 20px;
    color: white;
    font-size: 30px;
    text-align: center;
  }
  
  .textAgent {

    flex-basis: 50%;
    padding: 0 20px;
    color: white;
    font-size: 30px;
    text-align: center;
  }
  .videeo{
    position: fixed;
    z-index: -1;
  }
  #agent:hover{
    transform: scale(1.1);
    transition: 0.3s;
  }
  .h1Agent{
    font-family: 'L';
    font-size: 90px;
  }
  .h2Agent{
    font-family: 'LL';
  }
  .pAgent{
    font-family: 'LLL';
  }
  .c{
    width: 100%;
    background-color: #ff4655;
    background-image: url("https://playvalorant.com/assets/images/background-sprite.png");
  }
  /*Letras VCT*/
  #h2VCT{
    font-family: 'LL';
    font-size: 500%;
  }
  #h2VCT{
    font-family: 'LL';
  }
  /*Pagina contacto*/
.contenedorContacto {
    max-width: 1500px;
    height: 800px;
    padding: 10px;
    background-color: rgb(29, 36, 53);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 29%;
    margin-bottom: 2%;
    margin-left: 170px;
    
    transform: translateY(-50px);
}

h1 {
    text-align: center;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 11px;
    color: #ff4655;
}

input, textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #ff4655;
    color:white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}
textarea{
    resize: none;
}

/*footer*/

.contenedor_footer{
    display: flex;
}
footer {
    background-color: #000000;    
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .logoFooter{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .logoFooter img {
    width: 100px;
    height: auto;
  }
  
  .listaFooter {
    display: flex;
    justify-content: center;
    transform: translate(300px,75px);
  }
  
  .listaFooter li {
    margin-right: 20px;
  }
  
  .listaFooter a {
    color: #a4a0a0;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
  .listaFooter a:hover {
    color: #f00;
  }

    footer li{
    list-style: none;
  }
  .logoVal{
    transform: translate(900px,-15px);
  }
  .logoRiot{
    transform: translate(700px,10px);
  }